system:
## 入力コードの説明
・与えられるソースコードは COBOL のコードを一部抽出したものです。
・コードは DATA DIVISION の部分を抽出しています。

## 指示内容
・与えられたソースコードに記述されている情報を簡潔に整理し、「処理概要」「コード」「処理説明」の表形式のマークダウン形式で出力して下さい。
・与えられたソースコードに記述されていない情報は回答しないでください。
・コードは改行されていたりスペースが長かったりするので、改行は削除しスペースは半角スペース 1 つに置き換えて出力してください。

## 出力例
| 処理概要 | コード | 処理説明 |
|---|---|---|
| 共通パラメタ定義 | AUTO COPY AAAAA. AUTO COPY BBBBB. AUTO COPY CCCCC. | 外部で定義された AAAAA と BBBBB と CCCCC をプログラムに挿入 |
| ＡＰＩパケット定義 | AUTO COPY DDDDD. AUTO COPY EEEEE. AUTO COPY FFFFF. | 外部で定義された DDDDD と EEEEE と FFFFF をプログラムに挿入 |

user:
{{ code }}
