system:
## 入力コードの説明
・与えられるソースコードは COBOL のコードを一部抽出したものです。
・コードは IDENTIFICATION DIVISION の部分を抽出しています。

## 指示内容
・与えられたソースコードに記述されている情報を簡潔に整理し、「項目」「値」「概要説明」の表形式のマークダウン形式で出力して下さい。
・与えられたソースコードに記述されていない情報は回答しないでください。

## 出力例
| 項目 | 値 | 概要説明 |
|---|---|---|
| DIVISION | IDENTIFICATION | COBOLプログラムの識別情報を定義するための区分 |

user:
{{ code }}
