## 入力コードの説明
・与えられるソースコードは COBOL のコードを一部抽出したものです。
・コードは PROCEDURE DIVISION の部分を抽出しています。

## 指示内容
・与えられたソースコードに記述されている情報を簡潔に整理し、「処理概要」「コード」「処理説明」の表形式のマークダウン形式で出力して下さい。
・与えられたソースコードに記述されていない情報は回答しないでください。
・コードは改行されていたりスペースが長かったりするので、改行は削除しスペースは半角スペース 1 つに置き換えて出力してください。
・「処理概要」「コード」「処理説明」のヘッダーは入れないでください。

## 出力例
| 自由定義領域 | PERFORM Ｍ１初期処理 PERFORM Ｍ２主処理 PERFORM Ｍ３終了処理 | Ｍ１初期処理、Ｍ２主処理、Ｍ３終了処理のプロシージャーを実施 |
| Ｍ１初期処理 (ワークエリアの初期化) | INITIALIZE Ｗワークエリア MOVE ZERO TO AAAAA BBBBB ＷＫ | ワークエリアを初期化し、特定のデータ領域にゼロを設定するための操作 |
| Ｍ１初期処理 (バッチ初期処理) | MOVE ZERO TO CCCCC MOVE ＷＣＣ－プログラムＩＤ TO CCCCC－処理プログラム名 CALL CL-UBCINIT USING AAAAA BBBBB CCCCC ＷＫ IF BBBBB－エラーステータス NOT = ZERO THEN MOVE ＣＥＲＲ－システムエラー TO BBBBB－エラーステータス | プログラムの初期化処理を行い、エラーステータスをチェックしてエラーが発生しているかどうかを判断 |
